body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
}

.navbar {
  background-color: #1e293b;
  padding: 15px;
}

.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.container {
  max-width: 750px;
  margin: 40px auto;
  padding: 10px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
}

form button {
  padding: 10px 15px;
  background-color: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #2b5ea5;
}
